<h1>Make your form here</h1>
<form method="post" action="/pirates">
  <h3>Pirate Information</h3>
  <label for="pirate[name]">Pirate Name: </label>
  <input type="text" id="name" name="pirate[name]">
  <label for="pirate[weight]">Pirate Weight: </label>
  <input type="text" id="weight" name="pirate[weight]">
  <label for="pirate[height]">Pirate Height: </label>
  <input type="text" id="height" name="pirate[height]">
  <br>

  <h3>Ship 1 Information</h3>
  <label for="pirate[ships][][name]">Ship Name: </label>
  <input type="text" id="ship_name_1" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">Ship Name: </label>
  <input type="text" id="ship_type_1" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">Ship Name: </label>
  <input type="text" id="ship_booty_1" name="pirate[ships][][booty]">
  <br>

  <h3>Ship 2 Information</h3>
  <label for="pirate[ships][][name]">Ship Name: </label>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <label for="pirate[ships][][type]">Ship Name: </label>
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">
  <label for="pirate[ships][][booty]">Ship Name: </label>
  <input type="text" id="ship_booty_2" name="pirate[ships][][booty]">
  <br>

  <button type="submit">Submit</button>
</form>
